html {
  height: 100%;
}

body {
  @include outer-container;
  background: url('../images/treesbg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $light-green;
  height: 100%;
}

#container{
  @include span-columns(12);
  background: $cream;
  min-height: 80%;
}
